[Unit]
Description=Dashboard de Monitorización SNMP 
After=network.target

[Service]
Type=simple
# Ajusta la ruta si decides ponerlo en otro sitio
ExecStart=/usr/bin/python3 {{ dashboard_dest }}
Restart=always
RestartSec=5
User=root
# Esto hace que los print() de Python salgan 
# inmediatamente en el log
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
